In [1]:
import glob, os
import pandas as pd

rawData = []
rawData2 = []
outfile = "results.pkl"
outfile2 = "results2.pkl"

In [2]:

for file in glob.glob("*.log"):
    print(file)
    parts = file.split("_")
    platform = parts[0]
    workload = parts[1].split(".")[0]

    with open(file) as logfile:
        f1Duration = 0
        f2Duration = 0
        for line in logfile:
            if (line.__contains__("textPayload") and line.__contains__("ms\",")):
                line = line.strip()
                parts2 = line.split(" ")
                #print(line)
                row = {}
                row["platform"] = platform
                row["workload"] = workload
                row["function"] = parts2[2]
                row["duration"] = int(parts2[3].split("ms")[0])
                rawData.append(row)
                #print(row)

                if (parts2[2] == "f1"):
                    f1Duration = int(parts2[3].split("ms")[0])
                    if f1Duration == 0:
                        f1Duration = 1
                    if (f2Duration > 0):
                        row = {}
                        row["platform"] = platform
                        row["workload"] = workload
                        row["f1"] = f1Duration
                        row["f2"] = f2Duration
                        row["change"] = f2Duration / f1Duration
                        rawData2.append(row)
                        f1Duration = 0
                        f2Duration = 0

                if (parts2[2] == "f2"):
                    f2Duration = int(parts2[3].split("ms")[0])
                    if f2Duration == 0:
                        f2Duration = 1
                    if f1Duration > 0:
                        row = {}
                        row["platform"] = platform
                        row["workload"] = workload
                        row["f1"] = f1Duration
                        row["f2"] = f2Duration
                        row["change"] = f2Duration / f1Duration
                        rawData2.append(row)
                        f1Duration = 0
                        f2Duration = 0

google_A5.log
google_B5.log
google_C5.log
google_D5.log
google_E5.log

In [3]:
df_results = pd.DataFrame(rawData)
df_results.head()
df_results.describe()

          duration
count  1000.000000
mean     41.674000
std      80.208198
min       0.000000
25%       0.000000
50%       1.000000
75%       6.000000
max     287.000000

In [4]:
df_results.to_pickle(outfile)

In [5]:
df_results = pd.DataFrame(rawData2)
df_results.head()
df_results.describe()

               f1         f2      change
count  500.000000  500.00000  500.000000
mean    39.924000   44.32400    1.361700
std     77.455697   82.43695    1.596879
min      1.000000    1.00000    0.027027
25%      1.000000    1.00000    1.000000
50%      1.000000    1.00000    1.000000
75%      5.000000    9.50000    1.000000
max    287.000000  287.00000   14.600000

In [6]:
df_results.to_pickle(outfile2)